<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>1</title>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  	<script src="{% static 'myscript.js' %}"></script>

</head>
<body style="background-color: black">
	{% if user.is_authenticated %}
		<h1 style="color: white;">{{user.username}}</h1>






	{% else %}
		<h1 style="color: white;">registration</h1>

	{% endif %}
</body>
</html>