<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	
	{% if user.is_authenticated %}
	<header style="display: flex; justify-content: space-around; width: 100%;">
		<h2>...</h2>
		<strong>ПОСЛЕДНИЕ</strong>
		<strong>УПОМИНАНИЯ</strong>
		<div>
			<input type="search" name="" placeholder="Найти пользователя">
			<button type="submit" name="">Поиск</button> 
		</div>
	</header>
	<content>
		<div>
			<ul style="font-size: 24px;">
				<li><a href="{% url 'profile' %">Профиль</li>
				<li><a href="{{user.get_absolute_url}}">Профиль</li>
				<li><a href="{% url 'profile' %">Группы</li>
				<li><a href="{% url 'profile' %">Друзья</li>
			</ul>
		</div>

		<div>
			<div style="	width: 500px;
						    height: 400px;
						    border: 2px double black;
						    margin-left: 500px;
						    text-align: center;
						    box-sizing: border-box;}">
						
				<ul>
					<li>post title</li>
					<li>post ctx</li>
					<li>post author</li>
					<li>post like/dislike</li>
					<li>post comments</li>
				</ul>

			</div>
		</div>
		




	</content>
	

	{% else %}
		<a href="accounts/registration">REGISTER</a>
		<a href="accounts/login">LOGIN</a>
	{% endif %}

</body>
</html>